#main-canvas {
    transition: 0.2s;
    position: fixed;
}
.in-game-hud {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.stamina-holder {
    height: 15px;
    width: 200px;
    top: 20px;
    left: 20px;
    position: fixed;
    background: rgb(0,0,0,0.4);
    box-shadow: rgba(0, 0, 0, .2) 0px 4px 12px;
    padding: 6px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}
.stamina {
    height: 100%;
    width: 100%;
    background: rgb(204, 247, 181, .8);
    border-radius: 4px;
    transition: 0.1s;
}
body {
    padding: 0;
    margin: 0;
}